#creature-form {
    background:rgb(150, 255, 164);
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
}

#creature-list {
    background: rgb(150, 255, 164);
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
    border-radius: 10px;
}

body {
font-family: Arial, Helvetica, sans-serif;
background-color: #dbffdf;

}