#creature-form {
    background:rgb(150, 255, 164);
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
}

#creature-list {
    background: rgb(150, 255, 164);
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
    border-radius: 10px;
}

body {
font-family: Arial, Helvetica, sans-serif;
background-color: #dbffdf;

}
.creature DIV{
margin: 10px;

}
.creature-body {
    background: pink;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
}

.eye { height: 18px; width: 10px; border: 2px solid #000; border-radius: 10px; background: #fff;}