body{ 
background-color: black;
transition: .25s;
}

.basicgreen{ 
    font-family: 'Courier New', Courier, monospace;
    color:rgba(0, 243, 0, 0.951);
    display: block ;
    background-color: rgb(34, 9, 65);
    padding: 20px;
}
.basicwhite{
 font-family: 'Courier New', Courier, monospace;
    color:rgba(218, 218, 218, 0.951);
    display: block ;
    background-color: rgb(34, 9, 65) ;
    padding: 20px;
}
#creatureOne{ 
width: 500px;

}
#creaturetwo{
    width: 500px;
}
.link{
font-family: 'Courier New', Courier, monospace;
display: block;
background-color: white;
padding: 20px;

}
.creature {
width: 500px;
margin: 20px;

}
.gallery {
display: flex;
flex-wrap: wrap;
padding-left: 20px;
}
#lightbutton{
display: block;
background-color:rgb(34, 9, 65) ;
width: 300px;

}
#lightswitchbutton{
background-color: rgba(243, 0, 0, 0.95);
color: rgb(255, 255, 255);
border-radius: 4px;
width: 150px;
font-family: 'Courier New', Courier, monospace;
transition: .25s;
display: block;

}

#lightswitchbutton:hover{
 background-color: rgba(195, 0, 0, 0.951);

}